<h2 style="text-align: center">Customer Dashboard</h2>
<form [formGroup]="profileForm">
<div class="add-lessons-form">
  <ng-container formArrayName="users">
    <ng-container *ngFor="let user of users.controls; let i = index" [formGroupName]="i">
      <div class="container">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstname">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastname">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput formControlName="age">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address">
            </mat-form-field>
          </div>
        </div>
        <br>
        <button mat-raised-button color="primary" (click)="addUser()">Add User</button>
        <button  mat-raised-button color="warn"  (click)="deleteUser(i)" style="margin-right: 2px">Delete User</button>
        <button mat-raised-button color="primary" (click)="updateUser()">Update User</button>
      </div>
    </ng-container>
  </ng-container>
</div>
</form>
