<h3>Add User</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="User ID" aria-label="User ID">
    </div><br><br>
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div><br><br>
    <div class="col">
      <input type="text" class="form-control" placeholder="Email address" aria-label="email">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Password" aria-label="Password">
    </div><br><br>
    <div class="col">
      <input type="text" class="form-control" placeholder="Phone number" aria-label="phonenumber">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Address" aria-label="address">
    </div><br><br>
  </div>
  <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary">Add user</button>
  </div>
</div>
